
<h1 class="text-center text-5xl text-gray-800 py-16">Home</h1>
<p class="text-center text-gray-800 text-3xl">Welcome to my App <span style="font-style: bold; color: rgb(13, 116, 52);">{{name}}</span> </p>
<br><br>
<p class="text-center text-gray-800 text-3xl">Here you can manage your tasks in an organized way</p>
<img class="imgHome"
  src="https://www.orangescrum.com/blog/wp-content/uploads/2019/09/Google-Tasks-%E2%80%93-Your-Personal-Task-Manager.png"
  alt="tasks"
  style="margin: 20px auto; width: 40vw; border-radius: 20px;">
</div>