<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ori-Tasks Management</title>
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/3082/3082827.png" type="image/x-icon">

  <!-- Tailwind CSS Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css" />

  <!-- Fontawesome Link -->
  <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet" />

</head>

<body class="bg-gray-100">
  <nav class="flex py-5 bg-green-500 text-white px-24">
    <div class="w-1/2 px-12 mr-auto">
      <p class="text-2x1 font-bold">Ori-Tasks Management</p>
    </div>

    {{#if name}}
    {{!-- si se ha recibido nombre del loggeo --}}
    <ul class="w 1/2 px-16 ml-auto flex justify-end pt-1">
      <li class="nav-item px-4"><a {{!-- href="/tasks" --}} href="/tasks"
          class="nav-link font-semibold hover:bg-green-700 py-3 px-4 rounded-md">My Tasks</a>
      </li>

      <li class="nav-item px-4"><a {{!-- href="/tasks" --}} href="/create"
          class="nav-link font-semibold hover:bg-green-700 py-3 px-4 rounded-md">Create Task</a>
      </li>

      <li class="nav-item px-4"><a {{!-- href="/create" --}} href="/logout"
          class="nav-link font-semibold bg-red-700 hover:bg-red-800 py-3 px-4 rounded-md">Logout</a>
      </li>
    </ul>

    {{else}}

    {{!-- si no dejame la barra de navegacion como estaba --}}
    <ul class="w 1/2 px-16 ml-auto flex justify-end pt-1">
      <li class="nav-item px-4"><a {{!-- href="/tasks" --}} href="/login"
          class="nav-link font-semibold hover:bg-green-700 py-3 px-4 rounded-md">Login</a>
      </li>

      <li class="nav-item px-4"><a {{!-- href="/create" --}} href="/user"
          class="nav-link font-semibold border-2 border-white hover:text-green-700 py-3 hover:bg-white px-4 rounded-md">Register</a>
      </li>
    </ul>

    {{/if}}

  </nav>

  {{{body}}}
  {{!-- esta es la variable o el indicador que me estara cambiado el contenido de la pagina --}}
</body>

</html>